body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  background: #f5f5f5;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem;
  background: #fff;
}
h1 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
ul,
ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}
li {
  margin-bottom: 0.4rem;
}
img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
  margin: 1rem 0;
  border-radius: 12px;
}
.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
  aspect-ratio: 16 / 9;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
}

thead {
  font-weight: 800;
  font-size: 18px;
  background-color: black;
  color: white;
}
tbody {
  background-color: white;
  color: black;
}
th,
td {
  padding: 0.6rem 3rem;
  border: 1px solid rgb(171, 170, 170);
}
